[data-theme="tijaabo"] {

    .standard-sidebar-label {
      span {
        color: #000;
      }
    }
  .sidebar-item-label{
  
  }
  
    .standard-sidebar-labe.span:hover,.layout-side-section.expanded {
      width:250px;
  overflow:visible;
       
    
    }
    
  
    // .page-head-content {
    //   margin-left: -30%;
    // }
    // .container{
    //   max-width: 1024px !important;
    //   margin-block: auto !important;
    // }
    .layout-side-section {
      background-color: #fff;
      overflow-y: auto;
      top: 0;
      left: 0;
      height: 100% !important;
      width: 12% !important;
      position: fixed;
      z-index: 1500;
      
     
     
      .standard-sidebar-section {
        // overflow-y: scroll;
        // height: 80vh;
    
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
  
    }
  
    .layout-main {
      //    margin-right: 35%;
    }
  
    .navbar-brand navbar-home {
      margin-left: -29%;
    }
  
  
    .layout-vertical-nav {}
  
  
  
  //   .layout-side-section:hover, layout-side-section.expanded {
  //     width:50px;
  //     overflow:hidden;
  //     opacity:1;
  //     transition: 0.7s ease;
  //     .standard-sidebar-label{
  // display: none;
  //     }
  //     }
  
  
  
    .expanded {
      width: 50px;
    }
  
  
  
  
  
  
  
    .awesomplete {
      &>ul {
        // background-color: #0333b6;
      }
    }
  
    .sidebar-item-icon {
      // color: #e02323;
  
    }
  
    .item-icon {
      // color: #e02323;
      // font-size: 56px;
      // background-color: #550707;
    }
  
    .indicator {
      background-color: #0c0c0c;
    }
  
    .collapse-indicator {
      //   background-color: yellow;
  
    }
  }
  
  
  ////qebta moving side without js